extends layout

block content 
    div.contenido-principal
        h1 #{nombrePagina} - #{proyecto.nombre}
        
        .contenedor-acciones
            a(href=`/proyecto/editar/${proyecto.id}`).boton Editar
            button#eliminar-proyecto(data-proyecto-url=proyecto.url type="button" class="boton eliminar") Eliminar Proyecto